.header {
    &-nav {
        background-color: #0a0c30;
        position: absolute;
        width: 90vw;
        height: 100vh;
        transform: translate(-100%, 60px);
        transition: 0.4s ease-in-out;
        z-index: 5;

        a {
            color: white;
            text-transform: uppercase;
        }

        &-open {
            transform: translate(0, 60px);
        }
    }
}