.layout {
    padding: 0 20px;

    &-spacer {
        padding-top: 60px;
        flex-grow: 1;
    }

    &-max {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}