@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$blue-background: #1d1e45;
$standard-font: 'Open Sans', sans-serif;

.developments-bg {
    background-color: $blue-background;
}

html, body {
    color: white;
    font-family: $standard-font;
}